{% extends "base.njk" %} {% block title %}Forgot password?{% endblock %}

{% block body %}

<span id="error" style="color:red">{{ error }}</span>

<div class="ui form segment">
  <p>Please enter your email address</p>
  <div class="field">
    <input placeholder="email" id="email" type="text">
  </div>
  <div class="inline field">
    <button onclick="resetPassword()"> Reset password </button>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script type="text/javascript" src="/static/js/account.js"></script>

{% endblock %}
