{% extends "private-view.njk" %}

{% block title %}Add new network{% endblock %}

{% block body %}

<div class="ui form segment">
  <span id="error" style="color:red"></span>
  <p>Please enter the network's name</p>
  <div class="field">
    <label>Network</label>
    <input name="name" placeholder="WIBSTR" id="networkName" type="text"/>
  </div>
  <div class="inline field">
    <button onclick="addNetwork()"> Add Network </button>
  </div>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script src="/static/js/networks.js"></script>

{% endblock %}