{% extends "base.njk" %} {% block title %}Juke{% endblock %}

{% block body %}

An email has been sent to your account. It will allow you to reset your password.

<form action="/public/login">
  <button type="submit">Return to login screen.</button>
</form>

{% endblock %}