{% extends "base.njk" %}

{% block scripts %}

{{ super() }}

<!-- Log the user in if necessary -->
<script src="/static/js/login.js"></script>

<!-- Defines a function logout() that can be called whenever the user wants to 
	end their session. -->
<script src="/static/js/logout.js"></script>

{% endblock %}