{% extends "base.njk" %} 

{% block title %}Juke{% endblock %}

{% block body %}

<div style = "text-align:right ">
  <form action="/new-network">
    <button type="submit">Create New Network </button>
  </form>

  <form action="/join-network">
    <button type="submit"> Join a Network </button>
  </form>

  <form action="/leave-network">
    <input type="hidden" name="nid" value="{{ current }}"/>
    <button type="submit"> Leave {{ current }} </button>
  </form>

  <button type="button" onclick="logout()">Logout</button>

  {% if current.is_admin %}
  <a href="/add-user"><button type="button">Add a user</button></a>
  {% endif %}
</div>

<form action="/search" method="post">
  <input name="nid" type="hidden" value="{{ current }}"/>
  <div class="ui huge icon input">
    <i class="search icon"></i>
    <input name="query" type="text" placeholder="Search for a song... "/>
  </div>
</form>

<div class="ui bottom">
  <div class="ui visible inverted vertical sidebar menu">
    <a class="item">
      <i class="feed icon"></i>
      Networks
    </a>

    {% for network in networks %}
    <a class="item">
      <form action="/" method="get">
        <input type="hidden" name="nid" value="{{ network }}"/>
        <button class = "fluid ui button" type="submit">
          {{ network }}
        </button>
      </form>
    </a>
    {% endfor %}
  </div>
  <div class = "ui centered label">
    Music for {{ current }}
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <div class="ui card centered">
        <div class="image">
          <img id="current_album_art">
        </div>
        <div class="content">
          <span class = "header" id="current_song_title">No music playing right now</span>
          <div class="description">
            <span id="current_artist_name"></span> 
            <br>
            <span id="current_album_name"></span>
            <button onclick="upvote('{{ current }}')" class="ui icon button">
              <i class="right floated thumbs up icon"></i>
            </button>
            <button onclick="downvote('{{ current }}')" class="ui icon button">
              <i class="left floated thumbs down icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if current.is_admin %}
  <div class = "play music centered">
    <audio id="player" controls="controls" autoplay="true" onended="nextSong({{ current }})">
      Your browser does not support the audio element.
    </audio>
  </div>
  {% endif %}

  <label class="ui label" id="coins"></label>
</div>

{% endblock %}

{% block scripts %}

{{ super() }}

<script src="/static/js/user-interface.js"></script>
<script type="text/javascript">
  syncUpdate("{{ current }}");
</script>

{% endblock %}
