<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Semantic UI CSS -->
        <link rel="stylesheet" type="text/css" href="//oss.maxcdn.com/semantic-ui/2.1.4/semantic.min.css">
        <!-- Our Overrides and Additions -->
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div id="main-container" class="ui center aligned container">
            {% block body %}{% endblock %}
        </div>

        <!-- Try to load jQuery from Google's AJAX API -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <!-- Load jQuery from static folder if we couldn't get it from Google -->
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

        <!-- Set global variable SCRIPT_ROOT to prefix of the root of the app -->
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>

    </body>
</html>
