{% extends "base.html" %} {% block title %}Forgot password?{% endblock %} {% block body %}

<div class="ui form segment">
  <p>Please enter your email address</p>
    <div class="field">
      <label>Email address</label>
      <input placeholder="johndoe@example.com" id="email" type="text">
    </div>
  <div class="inline field">
  <div>

  <button onclick="check()"> Reset password </button>
  <a href="/"><button type="button">Back</button></a>
  <div class="ui error message"></div>
</div>




{% endblock %}