{% extends "base.html" %} {% block title %}Juke!{% endblock %} {% block body %}

<script language="javascript">
    function check() { //create new acct in firebase
        //document.write(document.getElementById("name").value);
        var ref = new Firebase("https://musichack16.firebaseio.com");
        ref.authWithPassword({
         email    : document.getElementById("username").value,
         password : document.getElementById("password").value
       }, function(error, userData) {
      if (error) {
      console.log("Error creating user:", error);
      } else {
      console.log("Successfully authenticated user account with uid:", userData.uid);
      window.location = '/user?uid=' + userData.uid;
  }
        });
        
        
      }
</script>

<div class="ui form segment">
  <p>Welcome to Juke!</p>
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" id="username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" id="password">
    </div>
  <div class="inline field">
  <div>
  <button onclick="check()" type="button">Sign in</button>
  <a href="/create-account"><button type="button">Create new account</button></a>
  <div class="ui error message"></div>
  <a href="/forgot-password"> Forgot Password? </a>
</div>




{% endblock %}