{% extends "base.html" %} {% block title %}Juke!{% endblock %} {% block body %}

{% if error %}
<p style="color:red">Invalid username or password.</p>
{% endif %}

<script language="javascript">
    function check() { //create new acct in firebase
        //document.write(document.getElementById("name").value);
        var ref = new Firebase("https://musichack16.firebaseio.com");
        ref.authWithOAuthPopup("google", function(error, authData){
          if (error) {
              window.location = '/login-error';
              console.log("Error creating user:", error);
          } else {
            console.log("Successfully authenticated user account with uid:", userData.uid);
            //window.location = '/user?uid=' + userData.uid;
            googleToken=authData.google.accessToken;

            $.ajax({
               url: "https://www.googleapis.com/sj/v1beta1/tracks",
               type: "GET",
               beforeSend: function(xhr){xhr.setRequestHeader('Authorization: GoogleLogin auth', googleToken);},
               success: function() { alert('Success!'); },
               error: function() {alert('Error!')}
            });
          }
      });
        
        
      }
</script>

<div class="ui form segment">
  <p>Welcome to Juke!</p>
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" id="username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" id="password">
    </div>
  <div class="inline field">
  <div>
  <button onclick="check()" type="button">Sign in</button>
  <a href="/create-account"><button type="button">Create new account</button></a>
  <div class="ui error message"></div>
  <a href="/forgot-password"> Forgot Password? </a>
</div>

<script type="text/javascript">
//create the canvas element
var myCanvas = document.createElement("canvas");

//set the canvas width and height
myCanvas.width=100;
myCanvas.height=100;

//get the 2-dimensional drawing context
var ctx = myCanvas.getContext("2d");
//first we clear the canvas
ctx.clearRect(0,0,100,100);
//setup the palette array
var grayPalette = ["#0072bb","#ff4c3b","#ffd034","#000000","#ffffff"];

//create 10x10 squares
for (i=0;i<10;i++){
 for(j=0;j<10;j++){
  //indicate when starting drawing a rectangle
  ctx.beginPath();
  ctx.rect(0+10*j,0+10*i,10,10);

  //choose a random color from the palette
  var randomColorIndex = 
    Math.round(Math.random() * (grayPalette.length-1));
  ctx.fillStyle = grayPalette[randomColorIndex];

  //fill the rectangle with the selected color
  ctx.fill();

  //draw a white border for the rectangle
  ctx.strokeStyle = "#ffffff";
  ctx.stroke();

  //indicating when finished drawing the rectangle
  ctx.closePath();
 }
}

//this will run when the document has finished loading
function setDynamicBackground(){
  //generate the image from the canvas
  var imageDataURL = myCanvas.toDataURL();

  //set the dynamic image as the background
  document.body.style.background = 
   "transparent url('"+imageDataURL+"') repeat";
}
</script>
</head>
<body onload="setDynamicBackground()">



{% endblock %}