{% extends "base.html" %}

{%block title %}Login to Google Play{% endblock %}

{% block body %}

{% if error %}
<div class="error">
<p style="color:red">Error: {{ error }}</p>
</div>
{% endif %}

<form action="/login" method="post">
	<h1 class="ui header">Enter Google Play credentials</h1>
	<div class="ui input">
	  <input name="username" type="text" placeholder="Username...">
	</div>
	<div class="ui input">
	  <input name="password" type="password" placeholder="Password...">
	</div>
	<button class="ui button" type="submit">
  		Sign In
	</button>
</form>

{% endblock %}