{% extends "base.html" %} {% block title %}Welcome{% endblock %}

{% block body %}


<div style = "text-align:right ">
  <a href="/new-network"> <u>Create new network</u> </a>
  <a href="/"><u>Logout</u> </a>

  {% if network_id.is_admin == 'True' %}
  <a href="/add-user"> <u>Add users to network</u> </a>
  {% endif %}
</div>

<form action="/search?nid={{ nid }}+uid={{ uid }}">
  <div class="ui huge icon input">
    <i class="search icon"></i>

    <input name="query" type="text" placeholder="Search for a song... ">
  </div>
</form>

<div class="ui bottom">
  <div class="ui visible inverted vertical sidebar menu">
    <a class="item">
      <i class="feed icon"></i>
      Networks
    </a>

    {% for network in user_networks %}

    <a class="item">
      <button class = "fluid ui button" href="/choose-network?network_id={{network}}" type> {{network.name}}</button>
    </a>

    {% endfor %}

  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <div class="ui card centered">
  <div class="image">
    <img id="current_album_art" src="">
  </div>
  <div class="content">
      <a class = "header" id="current_song_title">No music playing right now</span>
    <div class="description">
      <span id="current_artist_name"></span> 
      <p></p>
      <span id="current_album_name"></span>
      Album
      <i class="left floated thumbs down icon"></i>
      <i class="right floated thumbs up icon"></i>

  </div>
</form>

  <div class="extra content">
    <a>
      Music progress bar
    </a>
  </div>
</div>
    </div>
  </div>
</div>

{% if network_id.is_admin %}
<div class = "play music centered">
  <audio controls="controls">
  <source src="track.mp3" type="audio/mpeg" />
Your browser does not support the audio element.
</audio>
</div>

{% endif %}


{% endblock %}