{% extends "base.njk" %} {% block title %}Juke!{% endblock %}

{% block body %}

<span id="error" style="color:red">{{ error }}</span>

<div class="ui form segment">
  <p>Welcome to Juke!</p>
  <form>
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" id="username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" id="password">
    </div>
    <div class="inline field">
      <button onclick="check()" type="button">Sign in</button>
    </div>
  </form>

  <a href="/create-account">
  <button type="submit"> Create new account </button>
  </a>

  <a href="/forgot-password"> Forgot Password? </a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script language="javascript">
  function check() { //create new acct in firebase
    var ref = new Firebase("https://musichack16.firebaseio.com");
    ref.authWithPassword({
      email    : document.getElementById("username").value,
      password : document.getElementById("password").value
    }, function(error, userData) {
      if (error) {
        $("#error").innerHTML = 'Invalid username or password.';
        console.log("Error creating user:", error);
      } else {
        console.log("Successfully authenticated user account with token:", userData.token);
        window.location = "{{ continue }}";
      }
    });
  }
</script>

{% endblock %}