{% extends "base.njk" %} {% block title %}Juke!{% endblock %}

{% block body %}

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<div class="ui form segment">
  <p>Welcome to Juke!</p>
  <form id="loginForm" action="{{ continue }}" method="post">
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" id="username" type="text">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" id="password">
    </div>
    <input type="hidden" name="token" id="tokenOnSuccess"/>
    <div class="inline field">
      <button onclick="check()" type="button">Sign in</button>
    </div>
  </form>

  <button type="button" action="/create-account">Create new account</button>
  <a href="/forgot-password"> Forgot Password? </a>
</div>

{% endblock %}

{% block scripts %}
{{ super() }}

<script language="javascript">
  function check() { //create new acct in firebase
    var ref = new Firebase("https://musichack16.firebaseio.com");
    ref.authWithPassword({
      email    : document.getElementById("username").value,
      password : document.getElementById("password").value
    }, function(error, userData) {
      if (error) {
        window.location = '/login?continue={{ continue }}&error=Invalid+username+or+password.';
        console.log("Error creating user:", error);
      } else {
        console.log("Successfully authenticated user account with token:", userData.token);
        document.getElementById("tokenOnSuccess").value = userData.token;
        document.getElementById("loginForm").submit();
      }
    });
  }
</script>

{% endblock %}