{% extends "base.njk" %}

{% block scripts %}

{{ super() }}

<!-- Automatically log the user in if necessary -->
<script src="/js/login.js"></script>

<!-- Defines a function logout() that can be called whenever the user wants to 
	end their session. -->
<script src="/js/logout.js"></script>

{% endblock %}