{% extends "base.njk" %} {% block title %}Create new account{% endblock %}

{% block body %}

{% if error == "username exists" %}
<p style="color:red">Username already exists</p>
{% endif %}

{% if error == "invalid email" %}
<p style="color:red">Invalid email address</p>
{% endif %}

{% if error == "passwords dont match" %}
<p style="color:red">Passwords dont match</p>
{% endif %}

<div class="ui form segment">
  <p>Tell us about yourself</p>
  <form id="registerForm" action="/" method="post">
    <div class="field">
      <label>Name</label>
      <input placeholder="Name" id="name" type="text">
    </div>
    <div class="field">
      <label>Username</label>
      <input placeholder="Username" id="username" type="text"/>
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" id="password"/>
    </div>
    <div class="field">
      <label>Re-type password</label>
      <input placeholder="Reenter your password" type="password" id="retype-password">
    </div>
    <input type="hidden" name="token" id="tokenOnSuccess"/>
    <div class="inline field">
      <div>
        <button onclick="check()" type="button"> Create account </button>
        <a href="/"><button type="button">Back</button></a>
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
{{ super() }} 


<script language="javascript">
  function check() { //create new acct in firebase
    var ref = new Firebase("https://musichack16.firebaseio.com");

    console.log("checking info");

    var password = document.getElementById("password").value;
    var check_password = document.getElementById("retype-password").value;

    if (password !== check_password) {
      window.location = "/passwords-dont-match";
    }

    ref.createUser({
      email    : document.getElementById("username").value,
      password : document.getElementById("password").value
    }, function(error, userData) {
      if (error) {
        switch (error.code) {
        case "EMAIL_TAKEN":
          window.location = "/username-exists";
          break;
        case "INVALID_EMAIL":
          window.location = "/invalid-email";
          break;
        default:
          document.write(error);
          console.log("Error creating user:", error);
        }
      } else {   
        var users = ref.child("users");
        var thisUser = users.child(userData.uid);

        console.log("successfully verired user");

        thisUser.set({
          name: document.getElementById("name").value,
          username: document.getElementById("username").value,
          networks: {
            test_network: {
              name: "West",
              coins: 5,
              is_admin: "true"
            }
          }
        }); //end set
      } //end else
      
      document.getElementById("tokenOnSuccess").value = 
        userData.token;
      document.getElementById("registerForm").submit();
    });
  }
</script>

{% endblock %}
