{% extends "private-view.njk" %}

{% block scripts %}

{{ super() }}

<script type="text/javascript">

if (user) {
	// The user has a session saved, so we can go to their homepage
	$("#recoverSession").submit();
}
// Otherwise, the login script will redirect us to the login page

</script>

{% endblock %}

{% block body %}

<form action="/" id="recoverSession" method="post">

	<!-- Will be populated by the login script if the user has a saved session -->
	<input type="hidden" name="token"/>
</form>

{% endblock %}