{% extends "private-view.njk" %} {% block title %}Juke{% endblock %}

{% block scripts %}

{{ super() }}

<script src="/js/user-interface.js"></script>

syncToNetwork("{{ nid }}");

{% endblock %}

{% block body %}

<div style = "text-align:right ">

  <a href="/new-network">
    <button type="button">Create New Newtork </button>
  </a>

  <a href="/enter-network">
    <button type="submit"> Join a Network </button>
  </a>

  <button type="button" onclick="logout()">Logout</button>

  <form action="/switch-google" method="post">
    <input type="hidden" name="nid" value="{{ nid }}"/>
    <a class="item">
      <button type="submit"> Switch Google accounts </button>
    </a>
  </form>

  {% if networks.nid.is_admin %}
  <a href="/add-user"><button type="button">Add a user</button></a>
  {% endif %}
</div>

<form action="/search" method="post">
  <input name="nid" type="hidden" value="{{ nid }}"/>
  <div class="ui huge icon input">
    <i class="search icon"></i>
    <input name="query" type="text" placeholder="Search for a song... "/>
  </div>
</form>

<div class="ui bottom">
  <div class="ui visible inverted vertical sidebar menu">
    <a class="item">
      <i class="feed icon"></i>
      Networks
    </a>

    {% for id, network in networks %}
    <a class="item">
      <button class = "fluid ui button" action="/choose-network?nid={{ id }}"> {{network.name}}</button>
    </a>
    {% endfor %}
  </div>
  <div class = "ui centered label">
    Music for {{ networks.nid.name }}
  </div>
  <div class="pusher">
    <div class="ui basic segment">
      <div class="ui card centered">
        <div class="image">
          <img id="current_album_art">
        </div>
        <div class="content">
          <a class = "header" id="current_song_title">No music playing right now</a>
          <div class="description">
            <span id="current_artist_name"></span> 
            <br>
            <span id="current_album_name"></span>
            <button onclick="upvote()" class="ui icon button">
              <i class="right floated thumbs up icon"></i>
            </button>
            <button onclick="downvote()" class="ui icon button">
              <i class="left floated thumbs down icon"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if networks.nid.is_admin %}
  <div class = "play music centered">
    <audio id="player" controls="controls" autoplay="true" onended="nextSong({{ nid }})">
      Your browser does not support the audio element.
    </audio>
  </div>
  {% endif %}

  <label class="ui label" id="coins"></label>
</div>

{% endblock %}
